<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h5 class="text-center">{{ site.title }}</h5>
      <p class="text-center">
        <a href="https://github.com/{{ site.github_username }}">GitHub</a> /
        <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a> /
        <a href="https://packagist.org/packages/phpfastcgi/">Packagist</a>
      </p>
      <p class="text-center">
        irc.freenode.org / #phpfastcgi
      </p>
    </div>
  </div>
</div>
